body {
    background-color: #212641;
    font-family: "poppins", sans-serif;
    backdrop-filter: blur(2px);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    background-color: #51598e;
    box-shadow: 0 0 17px #cdd5ff;
    width: 450px;
    height: 260px;
}

.text {
    color: black;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 10px;
}
.redirect{
    text-decoration: none;
}
.redirect:hover{
color: #cdd5ff;
}


