.figure1 {
  margin: 0 0 0 80px;
  width: 20%;
}

.text_figure1 {
    font-size: 15px;
    font-weight: 500;
    color: #1d1b31;
    /* margin: 12px; */
}

/* .contenedor_principal {
    display: flex;
} */